

.field {
    box-sizing: border-box;
    padding-left: 0.875rem;
    margin: 0;
    border: 1.5px solid #ccc;
    width: 300px;
    height: 2.5rem;
    border-radius: 0.375rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    background-color: #fff;
    color: var(--color-gray-900);
    transition: border-color 0.2s ease, box-shadow 0.3s ease;


    &:focus {
        outline: none;
        border-color: #4a90e2;
        /* nice blue highlight */
        box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
    }
}

.formtitle {
    font-weight: 400;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem; 
    text-align: left;
    align-self: flex-start;
  }

  .formtitle {
    font-size: large;
    color: rgb(33, 33, 33);
    margin-bottom: 5px;
}

.logintext {
    text-align: center;
    color: rgb(64, 116, 64);
    font-weight: bold;
    margin-top: 10px;
}

.form {

    border-radius: 30px;
    padding: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formcontrol{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        width: 100%; 
      
}

.maindiv {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom left, rgb(129, 154, 145), rgb(167, 193, 168));
    background-size: cover;
    background-repeat: no-repeat;
}


.bottomsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formButton {
    width: 100px;
    height: 40px;
    margin: 10px;
    background-color: rgb(64, 116, 64);
    color: white;
    border: 0;
    font-weight: bold;
}

.loginimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-bottom: 50px;
}

.formButton:hover {
    background-color: rgb(35, 78, 35);
}
