.mainDiv {
    margin-top: 70px;
}

.ccButton {
    background-color: #5c0e0a;
    margin-right: 10px;
    margin-top: -10px;
    color: white;
    border-radius: 20px;
}

.Link {
    text-decoration: none
}

.headerButtons {
    display: flex;
    justify-content: flex-end;
}

.campaigngrid{
    display:flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: 10px;
}