.answer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title{
    text-align: center;
    font-size: x-large;
    margin: 20px;
    margin-bottom: 5px;
}

.pollitem{
    margin: 5px;
}

.pollLabel{
    text-align: left;
}
.loadingbar{
    width: 100%;
}

.subheading{
    text-align: center;
}

.line{
    margin-left: 150px;
    margin-right: 150px;
    border: 0.5px solid grey;

}

.subline{
    margin-left: 20px;
    margin-right: 20px;
    border: 0.5px solid grey;
}

.deleteButton{
    width: 50%;
    background-color: #688FE5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
    justify-content: center;
}

.deleteButton:hover {
    color: rgb(33, 33, 33);
    }

.buttondiv{
    display: flex;
}

.formbutton{
    display: flex;
    align-items: center;
}